@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_filterView.cshtml";
   
}

<link href="~/css/dashboard/dashboardpage.css" rel="stylesheet" />

<div class="col-md-12">
    <section class="panel" style="margin-top:50px;">

        <div class=" panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Report Run History
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">

                    <div class="panel-body table-responsive">
                        <div id="sss" style="width:100%;height:400px;overflow:scroll;">
                            <table class="table borderless">

                                <tr style="background-color:#a28ca5">
                                    <th>
                                        Report ID
                                    </th>
                                    <th>
                                        Report Name
                                    </th>
                                    <th>
                                        Last Used Date
                                    </th>
                                    <th></th>

                                </tr>


                                @foreach (var Item in ViewData.Model)
                                {
                                    if ((@Item["Syn_Report_Name"]).ToString() != "")
                                    {
                                        <tr>
                                            <td class="txtcolor">
                                                @Item["Report_ID"]
                                            </td>
                                            <td class="txtcolor">
                                                @Item["Syn_Report_Name"]
                                            </td>
                                            <td class="txtcolor">
                                                @Item["Syn_Report_Date"]
                                            </td>
                                            <td></td>
                                        </tr>
                                    }

                                }


                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Report Run as a Job History
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">

                    <div class="panel-body table-responsive">
                        <div id="sss" style="width:100%;height:400px;overflow:scroll;">
                            <table class="table ">

                                <tr style="background-color:#a28ca5">
                                    <th>
                                        Report ID
                                    </th>
                                    <th>
                                        Report Name
                                    </th>
                                    <th>
                                        Last Used Date
                                    </th>
                                    <th>
                                        Link
                                    </th>

                                </tr>

                                @foreach (var Item in ViewData.Model)
                                {
                                    if ((@Item["Asyn_Report_Link"]).ToString() != "")
                                    {
                                        <tr>
                                            <td class="txtcolor">
                                                @Item["Report_ID"]
                                            </td>
                                            <td class="txtcolor">
                                                @Item["Asyn_Report_Name"]
                                            </td>
                                            <td class="txtcolor">
                                                @Item["Asyn_Report_Date"]
                                            </td>
                                            <td>
                                                @if ((@Item["Asyn_Report_Link"]).ToString() != "")
                                                {  <a href="@Item["Asyn_Report_Link"]">click to download report</a>}

                                            </td>
                                        </tr>
                                    }
                                }


                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>



    </section>

</div>


